/* You can add global styles to this file, and also import other style files */

// Variables de couleur
$primary-color: #87CEEB; // Bleu clair
$secondary-color: #767a41; // Jaune clair
$white-color: #FFFFFF; // Blanc

// Configuration globale de Bootstrap
$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  white: $white-color
);

// Configuration globale de Material Design
@mixin mat-core() {
  $primary: $primary-color;
  $accent: $secondary-color;
}
@include mat-core();

// Styles globaux
body {
  font-family: 'Arial', sans-serif;
  background-color: $white-color;
  color: $primary-color; // Remplace $black-color par $primary-color
}

.main-content {
  padding: 1rem 2rem;
  min-height: calc(100vh - 64px); // pour occuper toute la hauteur moins la navbar
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: $secondary-color;
  border: 2px solid $primary-color; // Remplace $black-color par $primary-color
  border-radius: 50%;
}

.navbar {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        text-decoration: none;
        color: $primary-color; // Remplace $black-color par $primary-color

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // ✅ Séparation visuelle nette
  padding: 1px 2rem;
  height: 80px;
  display: flex;

}

.dashboard-card {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 1rem;
}

.search-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.search-field {
  flex-grow: 1;
  min-width: 50px;
}

.search-button {
  white-space: nowrap;
  min-width: 150px;
}

.right-sidebar .mat-dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.clm-color-button {
  background-color: $secondary-color;
  color: black; // Contraste recommandé
}

.clm-color-icon {
  color: $secondary-color;
}
@media (max-width: 768px) {
  mat-toolbar {
    padding: 0 1rem;
    height: 64px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue-snackbar {
  background: $primary-color;
}

.info-snackbar{
  background: $secondary-color;
}

.warn-snackbar{
  background: darkorange;
}

.success-snackbar {
  background: #107144;
}

.error-snackbar {
  background: #e33333;
}


