<mat-toolbar color="primary" class="d-flex justify-content-between">

  <!-- Section gauche -->
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="sidenav?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="m-sm-1">{{appName}}</span>

    @for (menu of menuItems; track menu.label; let i = $index) {
      @if (!menu.children) {
        <a
          mat-button
          [routerLink]="menu.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          @if (menu.icon) {
            <mat-icon class="clm-color-icon">{{ menu.icon }}</mat-icon>
          }
          <span class="nav-label">{{ menu.label }}</span>
        </a>
      } @else {
          <button mat-button [matMenuTriggerFor]="belowMenu">
            @if (menu.icon) {
              <mat-icon>{{ menu.icon }}</mat-icon>
            }
            <span class="nav-label">{{ menu.label }}</span>
          </button>

          <mat-menu #belowMenu="matMenu" xPosition="after" yPosition="below">
            @for (child of menu.children; track child.label) {
              <button mat-menu-item [routerLink]="child.path"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ exact: true }">
                @if (child.icon) {
                  <mat-icon>{{ child.icon }}</mat-icon>
                }
                {{ child.label }}
              </button>
            }
          </mat-menu>
      }
    }
  </div>

  <!-- Section droite -->
  <div class="user-info d-flex align-items-center">
    <div class="user-display vertical-icon">
      <mat-icon class="user-icon">account_circle</mat-icon>
      <span class="username">{{ currentUser }}</span>
    </div>
    <span class="datetime">{{ currentDateTime | date:'d MMMM y, HH:mm:ss' }}</span>
  </div>

</mat-toolbar>
