.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.8rem;
  margin-left: 2rem;
  margin-top: 0.8rem;

  .user-display {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 10px;
    border-radius: 20px;
    background: rgba(63, 81, 181, 0.1);

    .user-icon {
      color: #3f51b5;
      font-size: 1.2rem;
      width: auto;
      height: auto;
    }

    .username {
      font-weight: 500;
      color: #333;
    }
    .datetime {
      background-color: transparent;
      font-weight: 370;
      margin-top: 0.1rem;
    }
  }
}
